@import url(scss/normalize.css);
@import url(scss/bootstrap.css);
.event__img:after, .event__bg, .event:before, .ar-item__img:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0; }

.event img, .e-image img, .e-other__img img, .ar-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top; }

@font-face {
  font-family: 'museo_1';
  src: url("../../../fonts/MuseoSansCyrl_1.eot");
  /* IE9 Compat Modes */
  src: url("../../../fonts/MuseoSansCyrl_1.eot?#iefix") format("embedded-opentype"), url("../../../fonts/MuseoSansCyrl_1.woff") format("woff"), url("../../../fonts/MuseoSansCyrl_1.ttf") format("truetype"), url("../../../fonts/MuseoSansCyrl_1.svg#MuseoSansCyrl_1") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'museo_2';
  src: url("../../../fonts/MuseoSansCyrl_2.eot");
  /* IE9 Compat Modes */
  src: url("../../../fonts/MuseoSansCyrl_2.eot?#iefix") format("embedded-opentype"), url("../../../fonts/MuseoSansCyrl_2.woff") format("woff"), url("../../../fonts/MuseoSansCyrl_2.ttf") format("truetype"), url("../../../fonts/MuseoSansCyrl_2.svg#MuseoSansCyrl_2") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'museo_3';
  src: url("../../../fonts/MuseoSansCyrl_3.eot");
  /* IE9 Compat Modes */
  src: url("../../../fonts/MuseoSansCyrl_3.eot?#iefix") format("embedded-opentype"), url("../../../fonts/MuseoSansCyrl_3.woff") format("woff"), url("../../../fonts/MuseoSansCyrl_3.ttf") format("truetype"), url("../../../fonts/MuseoSansCyrl_3.svg#MuseoSansCyrl_3") format("svg");
  /* Legacy iOS */ }
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor; }

.icon-call {
  font-size: 2.4rem;
  width: 1em; }

.icon-fb {
  font-size: 1.7rem;
  width: 8px; }

.icon-in {
  font-size: 1.7rem;
  width: 15px; }

.icon-loc {
  font-size: 1.5rem;
  width: 1em; }

.icon-logo {
  font-size: 4.1rem;
  width: 3.07317em; }

.icon-search {
  font-size: 1.9rem;
  width: 1em; }

.icon-tw {
  font-size: 1.4rem;
  width: 15px; }

.icon-vk {
  font-size: 1rem;
  width: 15px; }

.icon-arrow {
  font-size: 2.3rem;
  width: 0.6087em; }

.icon-tickets {
  width: 55px;
  font-size: 55px; }

.icon-defend {
  width: 37px;
  font-size: 46px; }

.icon-smoke {
  width: 42px;
  font-size: 42px; }

.icon-camera {
  width: 46px;
  font-size: 46px; }

.wrapper {
  width: calc(100% - 63px);
  margin-top: 63px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }

.container-fluid {
  width: 100%; }

.sidebar {
  width: 63px;
  display: inline-block;
  height: 100vh;
  float: right;
  z-index: 10;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0; }
  .sidebar__event-fill {
    background-color: #E8F0F1;
    width: 63px;
    height: 100%;
    bottom: 0;
    position: absolute;
    right: -63px;
    top: 0;
    z-index: 10; }
    .sidebar__event-fill span {
      height: 32vw;
      max-height: 610px;
      background-color: red;
      display: block;
      width: 63px;
      background-color: #fff; }
  .sidebar__search {
    height: 63px;
    width: 63px;
    background: #E8F0F1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s; }
    .sidebar__search--close-icon {
      width: 14px;
      display: none; }
    .sidebar__search--open .sidebar__search--close-icon {
      display: block; }
    .sidebar__search--open .sidebar__search--search-icon {
      position: absolute;
      left: -30px;
      top: 22px; }
    .sidebar__search img:hover {
      opacity: .5; }
    .sidebar__search svg {
      width: 14px; }
  .sidebar__social {
    background: #E8F0F1;
    height: 33.3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: auto; }
    .sidebar__social-inner-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 30% 0;
      height: 100%;
      margin-top: auto;
      width: 100%;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
    .sidebar__social-item {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transition: .2s;
      transition: .2s;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%;
      max-height: 41px; }
      .sidebar__social-item:hover {
        opacity: .8; }

.hidden {
  display: none; }

.btn {
  color: #fff;
  font-size: 0.875em;
  text-align: center;
  letter-spacing: 0.0714286em;
  background-color: #EE2324;
  padding: 0.625em 0.9375em 0.4375em;
  display: inline-block;
  text-transform: uppercase;
  font-family: museo_3;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
  border: 2px #EE2324 solid;
  position: relative;
  -webkit-box-shadow: rgba(176, 55, 55, 0.81) 0px 3px 53px -7px;
          box-shadow: rgba(176, 55, 55, 0.81) 0px 3px 53px -7px;
  white-space: nowrap; }
  .btn:active {
    -webkit-box-shadow: rgba(176, 55, 55, 0.81) 0px 2px 23px -3px;
            box-shadow: rgba(176, 55, 55, 0.81) 0px 2px 23px -3px;
    font-size: 0.8125em; }
  .btn:hover {
    background-color: transparent;
    color: #EE2324; }

.title {
  font-family: museo_2;
  line-height: 1;
  padding-top: 1.125em;
  padding-bottom: 0.9375em;
  font-size: 1.75rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000; }

.fancybox-container:hover {
  cursor: url("../img/close.svg") 20 20, pointer; }

.fancybox-button--fullscreen {
  display: none; }

html {
  font-size: 16px; }

a {
  color: inherit; }
  a:hover {
    color: inherit;
    text-decoration: none; }

body {
  font-family: museo_1, serif;
  font-weight: normal;
  min-height: 100vh;
  width: 100%;
  font-size: 1rem;
  overflow-x: hidden;
  color: #000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  min-width: 320px; }

.header {
  padding-left: 0;
  padding-right: 0;
  height: 63px;
  position: fixed;
  z-index: 5;
  left: 0;
  right: 63px;
  top: 0;
  background-color: #fff; }
  .header-icon {
    margin-right: 0.375em; }
  .header__right {
    font-size: 0.75em;
    max-width: 350px;
    position: absolute;
    right: 40px;
    top: 0;
    bottom: 0;
    width: 24%; }
  .header__right-call img {
    margin-top: -3px; }
  .header__nav-social {
    display: none; }
  .header__nav .header__right-adress {
    display: none; }
  .header__mobile-icon {
    display: none; }
  .header__right-adress span {
    display: inline-block;
    line-height: 1.8;
    border-bottom: 1px solid #EE2324;
    cursor: pointer; }
  .header__right-adress:hover span {
    color: #EE2324;
    border-bottom-color: transparent !important; }
  .header__right-adress img {
    margin-top: -3px; }
  .header__right-adress--disable span {
    border-bottom-color: transparent; }
  .header__right-adress--disable:hover span {
    color: inherit;
    cursor: default; }
  .header__logo {
    padding-left: 2.4375em;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0; }
    .header__logo svg {
      width: 126px;
      height: 100%;
      margin-top: -2px; }
  .header-search__wrap {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: -26px;
    background-color: #E8F0F1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 14px;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    z-index: 11; }
    .header-search__wrap--hide {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      pointer-events: none; }
    .header-search__wrap form {
      width: 100%; }
    .header-search__wrap input {
      background-color: #fff;
      color: rgba(0, 0, 0, 0.3);
      height: 40px;
      width: 100%;
      padding-left: 14px; }
      .header-search__wrap input::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.3); }
      .header-search__wrap input:-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.3); }
      .header-search__wrap input::placeholder {
        color: rgba(0, 0, 0, 0.3); }

.nav-item {
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 0.75em;
  letter-spacing: 0.125em;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  text-align: center;
  padding: 2px 8px 0;
  margin: 0 0.4375em;
  display: inline-block; }
  .nav-item span {
    border-bottom: 1px solid #EE2324;
    display: inline-block;
    padding: -1px 0 3px; }
  .nav-item:hover {
    background-color: #000;
    color: #fff; }
    .nav-item:hover span {
      border-bottom-color: #000000; }

.main-page {
  overflow: hidden; }

.list {
  will-change: transform; }

.event {
  width: calc(100% / 3);
  height: calc(100% / 3);
  color: #fff;
  font-family: museo_3;
  position: relative;
  display: inline-block;
  float: left;
  overflow: hidden; }
  .event img {
    width: 100%; }
  .event--empty {
    cursor: default;
    pointer-events: none;
    z-index: 30; }
    .event--empty .event__img:after {
      display: none; }
    .event--empty .event__info {
      pointer-events: none; }
    .event--empty .event__img {
      background: #fff; }
  .event:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 20px solid #fff;
    border-left: 20px solid transparent;
    opacity: 0;
    -webkit-transition: .2s;
    transition: .2s; }
  .event__img {
    display: block;
    height: 100%;
    overflow: hidden;
    width: calc(100% + 2px);
    position: relative;
    will-change: transform; }
    .event__img:after {
      background-color: #000;
      opacity: .3; }
  .event__bg {
    background: #EE2324;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    opacity: 0;
    right: -2px;
    z-index: 1; }
  .event__info {
    position: absolute;
    left: 1.875em;
    bottom: 1.875em;
    line-height: 1.3;
    will-change: transform;
    z-index: 1;
    width: 88%; }
    .event__info-top {
      -webkit-transform: translateY(2.8125em);
              transform: translateY(2.8125em);
      -webkit-transition: .2s;
      transition: .2s;
      -webkit-transition-delay: .1s;
              transition-delay: .1s;
      display: block;
      will-change: transform; }
  .event-wrapper {
    height: calc(100vh - 63px);
    z-index: 1; }
  .event__btn {
    margin-top: 0.625em;
    -webkit-transition: .2s;
    transition: .2s;
    opacity: 0;
    will-change: transform; }
  .event__name {
    font-size: 1.75em;
    text-transform: uppercase;
    margin-bottom: 0; }
  .event__desc {
    font-family: museo_1;
    font-size: 0.75em; }
  .event:before {
    background: rgba(255, 255, 255, 0.7);
    opacity: 0;
    right: -2px;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: 1; }
  .event:hover {
    color: #000; }
    .event:hover .event__info-top {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transition-delay: 0s;
              transition-delay: 0s; }
    .event:hover .event__btn {
      -webkit-transition-delay: .2s;
              transition-delay: .2s;
      opacity: 1; }
    .event:hover:before, .event:hover:after {
      opacity: 1; }
  .event__date {
    margin-bottom: 0; }

@-webkit-keyframes anim-bottom {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0; }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0; }
  75% {
    -webkit-transform: scaleY(0.9);
            transform: scaleY(0.9);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%; }
  100% {
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0); } }

@keyframes anim-bottom {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0; }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0; }
  75% {
    -webkit-transform: scaleY(0.9);
            transform: scaleY(0.9);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%; }
  100% {
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0); } }
@-webkit-keyframes anim-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%; }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%; }
  75% {
    -webkit-transform: scaleY(0.9);
            transform: scaleY(0.9);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0; }
  100% {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0); } }
@keyframes anim-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%; }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%; }
  75% {
    -webkit-transform: scaleY(0.9);
            transform: scaleY(0.9);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0; }
  100% {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0); } }
@-webkit-keyframes active-field {
  0% {
    background-color: transparent; }
  50% {
    background-color: rgba(237, 36, 39, 0.4); }
  100% {
    background-color: transparent; } }
@keyframes active-field {
  0% {
    background-color: transparent; }
  50% {
    background-color: rgba(237, 36, 39, 0.4); }
  100% {
    background-color: transparent; } }
.scroll {
  width: 63px;
  height: calc(100vh - 63px);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .scroll-path {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    position: relative; }
    .scroll-path:before {
      content: '';
      position: absolute;
      left: calc(50% - 1px);
      top: 14px;
      bottom: 57px;
      width: 1px;
      background-color: rgba(116, 116, 116, 0.5); }
    .scroll-path__item {
      z-index: 1;
      width: 30px;
      height: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-transition: .2s;
      transition: .2s;
      cursor: pointer;
      margin-bottom: 18px;
      position: relative; }
      .scroll-path__item:hover {
        background: rgba(196, 196, 196, 0.3); }
        .scroll-path__item:hover:before {
          background-color: #EE2324; }
      .scroll-path__item:before {
        content: '';
        width: 5px;
        height: 5px;
        background: #B9B7B7;
        display: block;
        -webkit-transition: .2s;
        transition: .2s; }
      .scroll-path__item-line {
        content: '';
        position: absolute;
        left: 13px;
        width: 3px;
        height: 43px;
        -webkit-transform: scaleY(0);
                transform: scaleY(0);
        display: block;
        background-color: #EE2324; }
      .scroll-path__item-animate-bottom .scroll-path__item-line {
        top: -30px;
        -webkit-animation: anim-bottom .5s linear;
                animation: anim-bottom .5s linear; }
      .scroll-path__item-animate-top .scroll-path__item-line {
        bottom: -32px;
        height: 45px;
        -webkit-animation: anim-top .5s linear;
                animation: anim-top .5s linear; }
      .scroll-path__item--active {
        -webkit-animation: active-field .7s linear;
                animation: active-field .7s linear;
        -webkit-animation-delay: .5s;
                animation-delay: .5s; }
        .scroll-path__item--active:before {
          width: 7px;
          height: 7px;
          background-color: #EE2324;
          -webkit-transition-delay: .5s;
                  transition-delay: .5s;
          -webkit-transition-duration: .2s;
                  transition-duration: .2s; }
        .scroll-path__item--active.scroll-path__item--archive {
          -webkit-animation: none;
                  animation: none;
          color: #EE2324;
          font-size: 16px; }
          .scroll-path__item--active.scroll-path__item--archive:before {
            display: none; }
          .scroll-path__item--active.scroll-path__item--archive:hover {
            background: #fff; }
      .scroll-path__item--archive {
        color: #A0A2A3;
        font-size: 12px;
        background: #fff;
        width: 41px;
        height: auto;
        padding: 3px 0 2px;
        display: block;
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        margin-bottom: 50px;
        text-align: center; }
        .scroll-path__item--archive:before {
          display: none; }
        .scroll-path__item--archive:hover {
          color: #EE2324;
          background: #e8f0f1; }
      .scroll-path__item-dots {
        color: #A0A2A3;
        font-size: 12px;
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        background: #fff;
        left: 18px;
        width: 42px;
        height: 40px;
        cursor: pointer;
        display: none; }
        .scroll-path__item-dots--prev {
          position: absolute;
          top: 21px;
          z-index: 123;
          text-align: center; }
        .scroll-path__item-dots--next {
          position: absolute;
          z-index: 123;
          text-align: center; }
  .scroll__nav {
    height: 66.7%;
    padding-top: 1.6875em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .scroll__nav--archive {
      height: 59%;
      position: fixed;
      width: 63px;
      right: 0; }
      .scroll__nav--archive .scroll__angle {
        position: fixed;
        left: auto;
        bottom: 35%;
        right: 24px; }
      .scroll__nav--archive .scroll-path {
        height: 400px; }
        .scroll__nav--archive .scroll-path--inner {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
        .scroll__nav--archive .scroll-path:before {
          content: '';
          position: fixed;
          left: auto;
          top: 100px;
          bottom: 35.1%;
          width: 1px;
          background-color: rgba(116, 116, 116, 0.5);
          right: 31px;
          z-index: -8; }
      .scroll__nav--archive .scroll-path {
        padding-top: 10px;
        overflow-y: scroll;
        overflow-x: hidden; }
  .scroll__angle {
    position: absolute;
    left: calc(50% - 8px);
    bottom: 56px; }

[v-cloak] {
  display: none; }

.list--old {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -22; }

.e-info {
  position: relative;
  min-height: 332px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2.25em 0 1.875em 0;
  z-index: 1;
  margin-top: 1.875em; }
  .e-info:after {
    bottom: 0;
    right: 0;
    border-top: 1.875em solid #E8F0F1;
    border-right: 1.875em solid transparent;
    content: "";
    position: absolute;
    width: calc(100% + 95px);
    height: 0;
    z-index: -1; }
  .e-info:before {
    content: '';
    position: absolute;
    top: 0;
    left: -95px;
    right: 0;
    bottom: 30px;
    display: block;
    background-color: #E8F0F1; }
  .e-info__title, .e-info .e-date__day {
    font-family: museo_2;
    line-height: 1em;
    font-size: 3em;
    text-transform: uppercase; }
  .e-info__title {
    margin-bottom: 0.125em; }
  .e-info__desc {
    font-family: museo_2;
    line-height: 1.5em;
    font-size: 0.875em;
    letter-spacing: 0.107143em;
    text-transform: uppercase; }
.e-date__top {
  width: 198px; }
.e-date__right {
  text-align: right;
  line-height: 1.125em;
  padding-top: 2px; }
.e-date__mounth {
  font-family: museo_2;
  font-size: 0.875em;
  text-transform: uppercase;
  display: inline-block; }
.e-date__day {
  margin-right: 10px;
  width: auto;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  padding-right: 0; }
.e-date__time {
  font-size: 0.875em;
  display: inline-block; }
.e-date__bottom {
  line-height: 1.25em;
  font-size: 0.75em;
  color: rgba(54, 71, 79, 0.59409);
  display: inline-block;
  border-bottom: 1px solid #EE2324;
  cursor: pointer;
  position: relative; }
  .e-date__bottom:hover {
    color: #EE2324;
    border-color: transparent; }
    .e-date__bottom:hover .hide_calend {
      opacity: 1;
      pointer-events: all; }
.e-pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .e-pay__price {
    line-height: 1.125em;
    font-size: 0.75em;
    color: rgba(54, 71, 79, 0.59409);
    margin-top: auto; }
.e-sharing {
  margin-top: 2.8125em;
  max-width: 251px;
  position: relative; }
  .e-sharing__img {
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 53px -7px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 53px -7px;
    -webkit-transition: .2s;
    transition: .2s; }
    .e-sharing__img:hover {
      opacity: .7; }
    .e-sharing__img img {
      width: 100%; }
  .e-sharing__soc {
    margin-top: 2.5em;
    border: 1px solid #000; }
  .e-sharing__item {
    border-right: 1px solid #000;
    margin: 1px 0;
    padding: 3px 0;
    -webkit-transition: .2s;
    transition: .2s; }
    .e-sharing__item:hover {
      opacity: .7; }
    .e-sharing__item:last-of-type {
      border: none; }
  .e-sharing__num {
    font-size: 12px;
    letter-spacing: 0.121429em;
    margin-left: 10px; }
  .e-sharing:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 11px solid #fff;
    border-left: 13px solid transparent; }
  .e-sharing:before {
    content: '';
    position: absolute;
    right: -1px;
    bottom: 5px;
    height: 1px;
    width: 15px;
    background-color: #000;
    -webkit-transform: rotate(100deg);
    transform: rotate(136deg);
    z-index: 1; }
.e-image {
  height: 32vw;
  max-height: 610px; }
.e-text {
  margin-top: 2.5em;
  line-height: 1.625em;
  color: #36474F; }
.e-con {
  max-width: 1115px;
  margin: 0 auto;
  padding: 0 50px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }
.e-top {
  padding-left: 3.125em;
  padding-bottom: 5.625em; }
  .e-top__left {
    position: relative;
    left: 1.875em; }
.e-other__wrapper {
  background: #0D0D0D;
  color: #fff;
  text-transform: uppercase;
  font-family: museo_2;
  font-size: 0.875em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4.875rem 15px 3.75rem; }
.e-other__name {
  color: #EE2324;
  font-size: 1.75rem; }
.e-other__next, .e-other__prev {
  max-width: 242px;
  position: relative; }
  .e-other__next:hover .e-other__img, .e-other__prev:hover .e-other__img {
    opacity: .7; }
  .e-other__next:hover .e-other__arrow--left, .e-other__prev:hover .e-other__arrow--left {
    -webkit-transform: translateX(-10px) rotate(180deg);
            transform: translateX(-10px) rotate(180deg); }
  .e-other__next:hover .e-other__arrow--right, .e-other__prev:hover .e-other__arrow--right {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); }
.e-other__box {
  width: 151px;
  height: 90px;
  border: 4px solid #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #000;
  margin-bottom: 2.5rem;
  -webkit-transition: .3s;
  transition: .3s; }
  .e-other__box:hover {
    border-color: #d4d1d1; }
    .e-other__box:hover:before {
      background: #d4d1d1; }
    .e-other__box:hover .e-other__box-item-1 {
      -webkit-animation: box-line-1 .6s;
              animation: box-line-1 .6s; }
    .e-other__box:hover .e-other__box-item-2 {
      -webkit-animation: box-line-2 .6s linear;
              animation: box-line-2 .6s linear; }
    .e-other__box:hover .e-other__box-item-3 {
      -webkit-animation: box-line-3 .6s;
              animation: box-line-3 .6s;
      -webkit-animation-delay: .2s;
              animation-delay: .2s; }
  .e-other__box:after {
    content: '';
    position: absolute;
    display: block;
    bottom: -12px;
    right: -9px;
    width: 0;
    height: 0;
    border-bottom: 30px solid #0D0D0D;
    border-left: 30px solid transparent; }
  .e-other__box:before {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 4px;
    right: -5px;
    width: 21px;
    height: 4px;
    background-color: #fff;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  .e-other__box-item {
    width: 43px;
    height: 4px;
    background: #EE2324;
    display: block;
    margin-bottom: 6px;
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
    .e-other__box-item-2 {
      width: 30px; }
.e-other__link {
  display: inline-block;
  letter-spacing: 0.12em; }
.e-other__img {
  width: 100%;
  max-width: 242px;
  display: inline-block;
  margin-bottom: 0.625rem;
  -webkit-transition: .3s;
  transition: .3s; }
  .e-other__img img {
    width: 100%;
    height: 100%; }
.e-other__date {
  display: block; }
.e-other__name {
  display: block;
  position: relative;
  top: -4px; }
.e-other__arrow {
  position: absolute;
  top: calc(50% - 46px);
  -webkit-transition: .2s;
  transition: .2s; }
  .e-other__arrow svg {
    height: 18px; }
  .e-other__arrow--left {
    left: -52px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .e-other__arrow--right {
    right: -52px; }
.e-rules__wrapper {
  background: #333333;
  padding: 4.0625rem 15px; }
.e-rules__icon {
  max-width: 37px;
  padding-left: 0; }
.e-rules__text {
  color: #C9C7C7;
  font-size: 0.75em;
  line-height: 1.5625em;
  padding-right: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }
.e-rules__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.875rem 0;
  max-width: 45%; }

.hide_calend {
  position: absolute;
  left: -7px;
  top: -6px;
  width: 157px;
  height: 104px;
  background-color: #7E8C91;
  color: #fff;
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  pointer-events: none;
  z-index: 10; }
  .hide_calend__name {
    pointer-events: none; }
  .hide_calend a, .hide_calend__name {
    height: 26px;
    -webkit-transition: .2s;
    transition: .2s;
    background-color: #7E8C91;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 7px; }
    .hide_calend a img, .hide_calend__name img {
      -webkit-transition: .2s;
      transition: .2s;
      opacity: 0; }
    .hide_calend a:hover, .hide_calend__name:hover {
      background: rgba(232, 240, 241, 0.34); }
      .hide_calend a:hover img, .hide_calend__name:hover img {
        opacity: 1; }

@-webkit-keyframes box-line-1 {
  50% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4); }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }

@keyframes box-line-1 {
  50% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4); }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }
@-webkit-keyframes box-line-2 {
  30% {
    -webkit-transform: scaleX(2);
            transform: scaleX(2); }
  80% {
    -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5); }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }
@keyframes box-line-2 {
  30% {
    -webkit-transform: scaleX(2);
            transform: scaleX(2); }
  80% {
    -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5); }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }
@-webkit-keyframes box-line-3 {
  50% {
    -webkit-transform: scaleX(0.2);
            transform: scaleX(0.2); }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }
@keyframes box-line-3 {
  50% {
    -webkit-transform: scaleX(0.2);
            transform: scaleX(0.2); }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }
.footer {
  margin-top: auto;
  background: #0D0D0D;
  color: #fff; }
  .footer__map {
    background-color: #fff;
    padding: 0; }
  .footer__bottom {
    padding: 2.5em 0 3.125em; }
  .footer__adress-wrap {
    padding: 2.0625em 0; }
  .footer__adress-title {
    color: #EE2324;
    font-size: 0.875em;
    text-transform: uppercase;
    font-family: museo_2;
    display: inline-block;
    margin-bottom: 1.375rem; }
  .footer__links {
    margin-bottom: 3.125em; }
    .footer__links-item {
      font-size: 0.75em;
      margin: 0 5px; }
      .footer__links-item:hover {
        text-decoration: underline; }
  .footer__name {
    font-size: 0.75em;
    letter-spacing: 0.12em;
    text-transform: uppercase; }
  .footer .nav-item:hover {
    background: #0D0D0D; }
    .footer .nav-item:hover span {
      border-bottom-color: #000000; }

#map {
  height: 341px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%); }

.ar-content {
  padding-right: 90px;
  padding-left: 90px;
  margin-bottom: 5em; }
.ar-item {
  margin: 0 2%;
  margin-bottom: 1.875em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  -ms-flex-preferred-size: 16%;
      flex-basis: 16%;
  max-width: 250px; }
  .ar-item__inner-wrapper {
    display: block;
    width: 100%; }
  .ar-item__img {
    display: block;
    height: 18vw;
    max-height: 350px;
    margin-bottom: 15px;
    position: relative; }
    .ar-item__img:before {
      background: rgba(255, 255, 255, 0.7);
      opacity: 0;
      -webkit-transition: .2s;
      transition: .2s;
      z-index: 1; }
    .ar-item__img:after {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-bottom: 20px solid #fff;
      border-left: 20px solid transparent;
      opacity: 0;
      -webkit-transition: .2s;
      transition: .2s; }
    .ar-item__img--empty {
      background-color: #E8F0F1;
      position: relative;
      overflow: hidden;
      background-image: url("../img/line.svg");
      background-repeat: no-repeat;
      background-position: 0px 16%;
      background-size: 142%; }
      .ar-item__img--empty:after {
        display: none; }
      .ar-item__img--empty:before {
        display: none; }
  .ar-item__date {
    line-height: normal;
    font-size: 0.875em; }
  .ar-item__name {
    font-family: museo_2;
    line-height: normal;
    font-size: 0.875em;
    text-transform: uppercase;
    -webkit-transition: .2s;
    transition: .2s; }
  .ar-item:hover .ar-item__img:before, .ar-item:hover .ar-item__img:after {
    opacity: 1; }
  .ar-item:hover .ar-item__name {
    color: #EE2324; }
.ar__year-wrapper {
  max-width: 1562px;
  margin: auto; }
  .ar__year-wrapper--empty {
    min-height: 100vh;
    position: relative; }
    .ar__year-wrapper--empty:after {
      content: '';
      position: absolute;
      left: calc(50% - 30px / 2);
      top: calc(50% - 30px / 2);
      height: 30px;
      width: 30px;
      border: 5px solid #fde0e1;
      border-top: 5px solid #EE2324;
      border-radius: 30px;
      -webkit-animation: rotate 1s infinite linear;
              animation: rotate 1s infinite linear; }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@media screen and (min-width: 1441px) {
  .event {
    width: calc(100% / 4); } }
@media screen and (max-height: 800px) {
  .scroll__nav--archive .scroll-path {
    height: 265px; }

  .scroll-path__item-dots--next {
    bottom: 27%; } }
@media screen and (min-width: 851px) and (max-width: 1120px) {
  html {
    font-size: 12px; }

  .e-info {
    min-height: 256px; }
    .e-info:before {
      bottom: 23px; }

  .e-sharing {
    max-width: 68%; }

  .e-other__all {
    max-width: 25%; }

  .e-other__box {
    width: 90px;
    height: 52px; }

  .e-other__box-item {
    width: 22px;
    height: 2px; }

  .e-other__box-item-2 {
    width: 10px; }

  .e-rules__text {
    max-width: 70%; }

  .e-rules__item {
    max-width: 44%; }

  .e-date__day {
    max-width: 23%; }

  .e-pay__btn {
    font-size: 9px; } }
@media screen and (max-width: 850px), only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .main-page {
    overflow: auto; }

  .scroll {
    display: none; }

  .wrapper {
    width: 100%; }

  .header {
    height: 50px; }
    .header__right {
      width: 20px;
      right: 16px; }
      .header__right-adress {
        display: none; }
      .header__right-call span {
        display: none; }
    .header__logo svg {
      width: 83px; }
    .header__nav {
      position: fixed;
      top: 12px;
      left: calc(50% - 220px); }
    .header-search__wrap {
      width: 100vw;
      right: auto;
      left: calc(100% - 71vw); }

  .sidebar__search--open .sidebar__search--search-icon {
    top: 16px; }

  .sidebar {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 13; }
    .sidebar__search {
      height: 50px;
      width: 50px; }

  .event {
    width: 50%;
    height: 30vw; }

  .e-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .e-top__left {
    width: calc(100% - 79px);
    max-width: none; }

  .wrapper {
    margin-top: 50px; }

  .e-info {
    margin-top: 0;
    min-height: 265px; }

  .e-info__top, .e-info__bottom {
    max-width: 70%;
    margin-left: auto; }

  .e-sharing__img {
    position: absolute;
    left: 25px;
    top: 41px;
    max-width: 132px;
    z-index: 1; }
    .e-sharing__img img {
      height: 188px;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: top;
         object-position: top; }

  .e-sharing {
    position: static;
    margin-top: 0;
    margin-left: 10px; }
    .e-sharing:after {
      right: auto;
      left: 264px; }
    .e-sharing:before {
      right: auto;
      left: 263px; }

  .e-image {
    margin-top: 50px;
    height: auto;
    margin-left: -50px;
    width: calc(100% + 50px); }
    .e-image img {
      height: auto; }
    .e-image__wrapper {
      width: 100%;
      max-width: none; }

  .e-text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: none;
    padding: 0px 60px !important;
    margin-left: -26px; }

  .e-other__all {
    display: none; }

  .e-other__next, .e-other__prev {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 38%;
            flex: 0 0 38%; }

  .e-rules__item {
    max-width: none;
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }

  .e-con {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    padding: 0 22px; }

  .e-rules__wrapper {
    padding: 93px 76px 120px; }

  #map {
    height: 189px; } }
@media screen and (max-width: 660px) {
  .header {
    width: calc(100% - 50px); }
    .header__logo, .header__right {
      position: static; }
    .header__logo svg {
      height: 41px; }
    .header__nav {
      position: absolute;
      left: 0;
      right: -15px;
      top: 50px;
      background: #fff;
      z-index: 10;
      height: calc(100vh - 50px);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-left: 72px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      pointer-events: none;
      opacity: 0;
      -webkit-transition: .3s;
      transition: .3s;
      padding-top: 35px; }
      .header__nav .header__right-adress {
        display: block;
        font-size: 12px;
        position: static;
        top: -40px;
        margin-left: 12px;
        border-bottom: 1px solid #EE2324 !important;
        margin-top: 40px;
        margin-bottom: 30px; }
      .header__nav .header__right-call {
        display: block;
        font-size: 12px;
        position: static;
        margin-left: 12px;
        border-bottom: 1px solid #EE2324 !important; }
        .header__nav .header__right-call span {
          display: inline; }
      .header__nav--open {
        pointer-events: all;
        opacity: 1; }
      .header__nav-social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-item-align: center;
            align-self: center;
        width: calc(100% + 50px);
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background-color: #E8F0F1;
        margin-left: -50px;
        margin-top: auto; }
        .header__nav-social .sidebar__social-item {
          max-width: 20px;
          margin: 10px 20px; }
    .header__right {
      width: 60%;
      max-width: none;
      right: 0; }
      .header__right-call {
        display: none; }
    .header .nav-item {
      margin-bottom: 30px;
      display: block; }
    .header__mobile-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      cursor: pointer;
      width: 25px;
      position: relative;
      z-index: 10; }
      .header__mobile-icon .mobile-close {
        display: none; }
      .header__mobile-icon img {
        width: 25px;
        height: 20px;
        z-index: 100; }
      .header__mobile-icon--open .mobile-open {
        display: none; }
      .header__mobile-icon--open .mobile-close {
        display: block; }
    .header-search__wrap {
      left: 25vw; }
    .header__right-adress {
      display: none; }
    .header__mobile-icon {
      margin-left: auto; }

  .event {
    font-size: 13px; }

  .sidebar__event-fill {
    display: none; }

  .e-top {
    padding-left: 0; }

  .e-image {
    margin-left: 0;
    width: 100%; }

  .e-text {
    margin-left: 0; }

  .header {
    width: calc(100% - 35px);
    padding-right: 15px; }

  .header__nav {
    right: 0; }

  .e-sharing {
    margin-left: 0; }

  .e-top__left {
    width: calc(100% - 75px);
    left: 25px; }

  .e-sharing:after {
    left: 254px; }

  .e-sharing:before {
    left: 253px; }

  .e-sharing__img {
    left: 15px; }

  .e-top__left {
    width: calc(100% - 74px); }

  .e-info__top, .e-info__bottom {
    max-width: 56%; }

  .e-info__title {
    font-size: 1.875rem; }

  .e-date__day {
    font-size: 1.875rem; }

  .e-date__mounth, .e-date__time {
    font-size: 12px; }

  .e-date__bottom, .e-pay__price {
    font-size: 10px; }

  .e-pay__btn {
    font-size: 12px; }

  .e-info__desc {
    font-size: 11px; }

  .e-info__bottom-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .header__logo {
    padding-left: 35px; }

  .e-info {
    padding-top: 20px;
    padding-left: 127px;
    min-height: 289px; }
    .e-info .e-date__day {
      font-size: 1.875rem; }

  .e-date__right {
    line-height: 12px; }

  .e-sharing__img {
    top: 24px;
    max-width: 92px; }
    .e-sharing__img img {
      height: 135px; }

  .e-info__top, .e-info__bottom {
    max-width: 100%; }

  .e-date__wrapper {
    margin-bottom: 13px; }

  .e-pay__btn {
    margin-bottom: 13px; }

  .e-other__name {
    font-size: 1.3125em; }

  .e-other__arrow--right {
    right: -45px;
    top: calc(50% - 42px); }

  .e-other__arrow--left {
    left: -45px;
    top: calc(50% - 37px); }

  .e-other__arrow {
    top: calc(50% - 42px); }

  .e-rules__wrapper {
    padding: 93px 58px 120px; } }
@media screen and (max-width: 492px) {
  .event {
    width: 100%;
    height: 62vw; }

  .wrapper {
    margin-top: 40px; }

  .header {
    height: 40px;
    width: calc(100% - 20px); }
    .header__right-call {
      top: 12px;
      left: calc(50% - 31px); }
    .header-search__wrap {
      right: -53px; }
      .header-search__wrap input {
        height: 23px; }
    .header__logo svg {
      margin-top: 4px;
      margin-left: 20px; }
    .header .e-date__bottom {
      white-space: nowrap; }
    .header__mobile-icon {
      position: relative;
      right: 13px; }
      .header__mobile-icon img {
        width: 17px; }
    .header__nav {
      right: 5px;
      top: 40px;
      padding-top: 47px; }
      .header__nav .header__right-adress {
        top: -35px; }
    .header__logo {
      padding-left: 16px; }

  .sidebar__search {
    height: 40px;
    width: 40px; }

  .sidebar {
    height: 40px;
    width: 40px; }

  header, header.container-fluid {
    height: 40px; }

  .e-pay__price, .e-date__bottom {
    white-space: nowrap; }

  .e-other__next, .e-other__prev {
    width: 38%; }

  .e-rules__icon {
    max-width: 10px; }
    .e-rules__icon svg {
      width: 20px;
      margin-top: -8px; }

  .e-text {
    padding: 0px 40px !important; }

  .e-con {
    padding: 0; }

  .e-other__arrow svg {
    height: 11px; }

  .e-other__arrow--right {
    right: -33px; }

  .e-other__arrow--left {
    left: -33px; }

  .e-rules__wrapper {
    padding: 93px 55px 120px; }

  .header__nav {
    height: calc(100vh - 40px); }

  header, header.container-fluid {
    height: auto; }

  .e-top__left {
    width: calc(100% - 64px); }

  .header__mobile-icon {
    right: 1px; }

  .header-search__wrap input {
    height: 32px; }

  .sidebar__search--open .sidebar__search--search-icon {
    top: 11px; }

  .header__logo svg {
    margin-top: -1px; }

  .e-other__wrapper {
    padding: 3.125rem 15px 2.5rem; }

  .e-rules__wrapper {
    padding: 30px 55px 40px; }

  .e-info__title {
    font-size: 1.3125em; } }
@media screen and (max-width: 360px) {
  html {
    font-size: 12px; }

  .e-info:after {
    bottom: 9px; }

  .e-date__day {
    margin-right: 0; }

  .e-info {
    min-height: 277px; }

  .header__mobile-icon {
    position: absolute;
    top: 9px;
    right: 13px; }

  header, header.container-fluid {
    height: auto; }

  .e-top__left {
    width: calc(100% - 65px); }

  .e-sharing__img {
    left: -3px; }

  .e-info {
    padding-left: 100px; }

  .e-sharing {
    margin-left: -19px; }

  .e-sharing:before {
    left: 224px; }

  .e-sharing:after {
    left: 225px; }

  .e-sharing {
    width: 241px; }

  .e-text {
    padding: 0px 21px !important; }

  .e-other__wrapper {
    padding: 4.875rem 27px 3.75rem; }

  .e-other__arrow {
    top: calc(50% - 31px); }

  .e-rules__wrapper {
    padding: 93px 31px 120px; }

  .header__nav {
    height: calc(100vh - 35px); }

  .header__nav .header__right-adress {
    margin-top: 0; }

  .header__nav-social {
    margin-left: -65px;
    width: calc(100% + 65px); }

  .e-other__wrapper {
    padding: 2.5rem 15px 1.875rem; } }

/*# sourceMappingURL=main.css.map */