.footer {
    margin-top: auto;
    background: #0D0D0D;
    color: $white;
    &__map {
        background-color: #fff;
        padding: 0;
    }
    &__bottom {
        padding: em(40px) 0 em(50px);
    }
    &__adress {
        line-height: 1.4;
        &-wrap {
            padding: em(33px) 0;
        }
        &-title {
            color: $red;
            font-size: em(14px);
            text-transform: uppercase;
            font-family: museo_2;
            display: inline-block;
            margin-bottom: rem(22);
        }
    }
    &__links {
        margin-bottom: em(50px);
        &-item {
            font-size: em(12px);
            margin: 0 5px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__name {
        font-size: em(12px);
        letter-spacing: 0.12em;
        text-transform: uppercase;
    }
    .nav-item:hover {
        background: #0D0D0D;
        span {
            border-bottom-color: #0D0D0D;
        }
    }
    &__mobile-social {
        justify-content: center;
        align-items: center;
        display: none;
        margin-bottom: 1em;
        &-item {
            margin: 0 em(10px);
            svg {
                fill: #fff ;
            }
        }
    }
}
#map{
    height: 341px;
    filter: grayscale(100%);
}
