._404 {
    &__h2 {
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-size: em(16);
        line-height: 1.7;
        margin-bottom: 0;
    }
    &__desc {

    }
    &__form {
        margin-top: em(50px);
        margin-bottom: em(80px);
        background-color: $gray;
        padding: em(30) 0 em(70);
        position: relative;
        &:after {
            content: '';
            position: absolute;
            display: block;
            bottom: 0;
            right: 0;
            width: 0;
            height: 0;
            border-bottom: 30px solid #fff;
            border-left: 30px solid transparent;
            -webkit-transition: .2s;
            transition: .2s;
        }
        &-wrap {
            max-width: 440px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
