@font-face {
    font-family: 'museo_1';
    src: url('../../../fonts/MuseoSansCyrl_1.eot'); /* IE9 Compat Modes */
    src: url('../../../fonts/MuseoSansCyrl_1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    //url('../../../fonts/MuseoSansCyrl_1.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../../fonts/MuseoSansCyrl_1.woff') format('woff'), /* Pretty Modern Browsers */
    url('../../../fonts/MuseoSansCyrl_1.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../../../fonts/MuseoSansCyrl_1.svg#MuseoSansCyrl_1') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'museo_2';
    src: url('../../../fonts/MuseoSansCyrl_2.eot'); /* IE9 Compat Modes */
    src: url('../../../fonts/MuseoSansCyrl_2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        //url('../../../fonts/MuseoSansCyrl_2.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../../fonts/MuseoSansCyrl_2.woff') format('woff'), /* Pretty Modern Browsers */
    url('../../../fonts/MuseoSansCyrl_2.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../../../fonts/MuseoSansCyrl_2.svg#MuseoSansCyrl_2') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'museo_3';
    src: url('../../../fonts/MuseoSansCyrl_3.eot'); /* IE9 Compat Modes */
    src: url('../../../fonts/MuseoSansCyrl_3.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        //url('../../../fonts/MuseoSansCyrl_3.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../../fonts/MuseoSansCyrl_3.woff') format('woff'), /* Pretty Modern Browsers */
    url('../../../fonts/MuseoSansCyrl_3.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../../../fonts/MuseoSansCyrl_3.svg#MuseoSansCyrl_3') format('svg'); /* Legacy iOS */
}

