// variables

$color: #000;
$red: #EE2324;
$white: #fff;
$gray: #E8E8E8;

// mixins
%image-opacity {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

%img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

//px to em

$browser-context: 16;

@function em($pixels, $context: $browser-context) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return $pixels / $context * 1em;
}
