//блок концерта
.event {
    width: calc(100% / 3);
    //height: 18.2vw;
    height: calc(100% / 3);
    color: $white;
    font-family: museo_3;
    position: relative;
    display: inline-block;
    float: left;
    img {
        width: calc(100% + 2px);
    }
    &__info {
        position: absolute;
        left: em(30px);
        bottom: em(30px);
        line-height: 1.3;
        &-top {
            transform: translateY(em(45px));
            transition: .2s;
            transition-delay: .1s;
            display: block;
        }
    }
    &-wrapper {
        height: calc(100vh - 63px);
    }
    &__btn {
        margin-top: em(10px);
        transition: .2s;
        opacity: 0;
    }
    &__name {
        font-size: em(28px);
        text-transform: uppercase;
    }
    &__desc {
        font-family: museo_1;
        font-size: em(12px);
    }
    img {
        @extend %img;
    }
    &:before {
        @extend %image-opacity;
        background: rgba(255, 255, 255, 0.7);
        opacity: 0;
        right: -2px;
        transition: .2s;
    }

    &:hover {
        color: $color;
        .event__info-top {
            transform: translateY(0);
            transition-delay: 0s;
        }
        .event__btn {
            transition-delay: .2s;
            opacity: 1;
        }
        &:before {
            opacity: 1;
        }
    }

}

.btn {
    color: $white;
    font-size: em(14px);
    text-align: center;
    letter-spacing: 0.0714286em;
    background-color: $red;
    padding: em(10px) em(15px) em(7px);
    display: inline-block;
    text-transform: uppercase;
    font-family: museo_3;
}
