.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-call {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-fb {
	font-size:(17/10)*1rem;
	width:8px;
}
.icon-in {
	font-size:(17/10)*1rem;
	width:15px;
}
.icon-loc {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-logo {
	font-size:(41/10)*1rem;
	width:(126/41)*1em;
}
.icon-search {
	font-size:(19/10)*1rem;
	width:(19/19)*1em;
}
.icon-tw {
	font-size:(14/10)*1rem;
	width:15px;
}
.icon-vk {
	font-size:(10/10)*1rem;
	width: 15px;
}

.icon-arrow {
	font-size:(23/10)*1rem;
	width:(14/23)*1em;
}
.icon-tickets {
    width: 55px;
    font-size: 55px;
}
.icon-defend {
    width: 37px;
    font-size: 46px;
}
.icon-smoke {
    width: 42px;
    font-size: 42px;
}
.icon-camera {
    width: 46px;
    font-size: 46px;
}
